@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700&display=swap');

.weather-container {
  @apply flex flex-col items-center min-h-screen p-4;
   background-repeat: no-repeat;
   background-size: cover
}

.bg-dark{
  background-image: url("assets/images/bg-dark.png");
}

.bg-light{
  background-image: url("assets/images/bg-light.png");
}

.input-bg{
  @apply flex-grow px-4 rounded-[20px] w-full pt-6 pb-1 focus:outline-none;
  height: 60px;
}

.bg-light .icon-circle {
    border: 2px solid #fff;
    padding: 8px;
    border-radius: 100%;
}

.bg-dark .icon-circle {
    border: 2px solid #FFFFFF66;
    padding: 8px;
    border-radius: 100%;
}